.contacts {
  background-repeat:no-repeat;
  background-size: cover;
  background-image: url('../img/second-img.jpg');
  padding: 70px 0;
}

.contacts__post {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  margin-bottom: 17px;
  padding-top: 7px;
}

.contacts__title-text {
  color: var(--main-color-text);
  text-align: center;
  font-size: clamp(1.25rem, 1.016rem + 1.17vw, 2.188rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  left: 32px;
  position: relative;
  letter-spacing: -1px;
}

.contacts__subtitle-text {
  color: var(--main-color-text);
  text-align: center;
  font-size: clamp(0.75rem, 0.594rem + 0.78vw, 1.375rem);
  font-weight: 500;
  line-height: normal;
  margin-bottom: 50px;
  left: 37px;
  position: relative;
  letter-spacing: -1px;
}

.contacts__decor {
  border-radius: 50px;
  border: 1.382px solid var(--main-color-text);
  padding-left: 26px;
  color: var(--gray-text);
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  width: 451px;
  height: 49px;
  left: 46px;
  position: relative;
}

.contacts__select-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
}

.contacts__e-mail {
  margin-bottom: 50px;
}

.contacts__button {
  color: var(--main-color-text);
  text-align: center;
  font-size: clamp(1rem, 0.938rem + 0.31vw, 1.25rem);
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  padding: 10px 38px;
  position: relative;
  left: 46px;
  top: -20px;
  letter-spacing: -1px;
  border-radius: 50px;
  background: var(--color-button-blue);
  box-shadow: 0px 4px 25px 0px var(--box-shaddow);
}

.contacts__p {
  color: var(--main-color-text);
  text-align: center;
  font-size: clamp(0.688rem, 0.547rem + 0.7vw, 1.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 31px;
  left: 38px;
  position: relative;
  letter-spacing: 0.5px;
}

.contacts__agreement {
  text-decoration: underline;
  color: var(--color-link);
}

@media (max-width:470px) {
  .contacts__decor {
    width: 320px;
  }
}

@media (max-width: 325px) {

  .contacts {
    padding: 30px 0;
    height: 398px;
  }
  .contacts__title-text {
    font-size: 20px;
  }
  .contacts__subtitle-text {
    font-size: 12px;
    margin-bottom: 35px;
  }
  .contacts__decor {
    font-size: 14px;
    width: 220px;
    height: 28px;
  }

  .contacts__select-data {
    gap: 15px;
    margin-bottom: 45px;
  }

  .contacts__button {
    font-size: 16px;
    width: 174px;
    height: 38px;
    padding: 0;
  }

  .contacts__p  {
    font-size: 11px;
    position: relative;
    bottom: -64px;
  }

  .contacts__agreement {
    display: none;
  }

}