
.header {
  position: absolute;
  padding-top: 27px;
  left: 0;
  right: 0;
  top: 0;
  background: transparent;
  z-index: 10;
}

.header__logo {
  width: 68px;
  height: 68px;
  position: relative;
  right: 18px;
  top: 3px;
}

.header__container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 609px;

}

.header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__number {
  color: var(--main-color-text);
  text-align: center;
  font-size: clamp(1rem, 0.876rem + 0.61vw, 1.491rem);
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
  position: relative;
  right: 14px;
  top: 3px;
}

.header__call-me {
  text-decoration: underline;
  text-align: center;
  color: var(--main-color-text);
  font-size: clamp(0.813rem, 0.766rem + 0.23vw, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  right: 15px;
  top: 3px;
  letter-spacing: -1px;
}


/* 1024 */

@media (max-width: 1024px) {
  .header {
    padding-top: 20px;
  }
  .header__menu {
    margin-bottom: 70px;
  }
  .header__logo {
    width: 60px;
    height: 60px;
  }
}


@media (max-width: 425px) {
  .header__title-text {
    max-width: 290px;
  }

  .header__number {
    font-size: 14px;
  }
}

@media (max-width: 320px) {

  .header__subtitle-text {
    max-width: 290px;
    color: rgba(255, 255, 255, 0.75);
  }

  .header__logo {
    width: 30px;
    height: 30px;
  }
    
  .header__call-me {
    display: none;
  }

  .header__number {
    display: none;
  }

  .header__contacts::before {
    content: "";
    padding-top: 18px;
    background: url('../img/phone-logo.svg');
    max-width: 25px;
    max-height: 24px;
    background-repeat: no-repeat;
  }

  .header__button {
    line-height: normal;
    padding: 10px 28px;
  }

}