
.header {
  position: absolute;
  padding-top: 40px;
  left: 0;
  right: 0;
  top: 0;
  background: transparent;
  z-index: 10;
}

.header__container {
  margin: 0 auto;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2.85px;
}

.header__number {
  color: var(--main-color-text);
  text-align: center;
  font-size: 23.85px;
  font-weight: 400;
  line-height: normal;
}

.header__call-me {
  text-decoration: underline;
  text-align: center;
  color: var(--main-color-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}









/* 1024 */

@media (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }
  .header {
    padding-top: 20px;
  }
  .header__menu {
    margin-bottom: 70px;
  }
  .header__logo {
    width: 60px;
    height: 60px;
  }
  .header__number {
    font-size: 21px;
  }
  .header__call-me {
    font-size: 13px;
  }
  .header__title {
    gap: 27.57px;
  }
  .header__title-text {
    font-size: 40px;
  }
  .header__subtitle-text {
    font-size: 18px;
    width: 754px;
    margin-bottom: 178.43px;
  }
  .header__button {
    bottom: 70px;
  }
}

@media (max-width: 780px) {
  .container {
    padding: 0 20px;
  }

}

@media (max-width: 320px) {

  .header__title-text {
    font-size: 20px;
  }

  .header__subtitle-text {
    width: 290px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
  }

  .header__button {
    font-size: 20px;
  }
  .container {
    padding: 0 15px;
  }

  .header__logo {
    width: 30px;
    height: 30px;
  }
    
  .header__call-me {
    display: none;
  }

  .header__number {
    display: none;
  }

  .header__contacts::before {
    content: "";
    padding-top: 18px;
    background: url('../img/phone-logo.svg');
    width: 25px;
    height: 24px;
    background-repeat: no-repeat;
  }

  .header__button {
    font-size: 16px;
    line-height: normal;
    padding: 10px 28px;
  }

}