.main {
  padding-top: 55px;
  padding-bottom: 85px;
}

.main__title {
  color: var(--black-color-text);
text-align: center;
font-family: Roboto;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 25px;
}

.main__about {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 35px;
}

.main__about-text {
  color: var(--black-color-text);
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
}

.main__about-text::before {
  content: " ";
  background-color: #383A4C;;
  width: 43px;
  height: 2px;
  display: inline-block;
  margin-bottom: 6px;
  margin-right: 23px;
}

.main__about-text::after {
  content: " ";
  background-color: #383A4C;;
  width: 43px;
  height: 2px;
  display: inline-block;
  margin: 0 0 6px 23px;
}

.main__paragraph {
  color: var(--black-color-text);
  text-align: center;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 140.625%;
  margin-bottom: 50px;
}

.main__block-circle {
  display: flex;
  justify-content: center;
  gap: 124px;
}

.main__group-img-sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.main__sign-text {
  max-width: 196px;
  color: var(--black-color-text);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140.625%; 
  }

  /*================МЕДИАЗАПРОСЫ===============*/

  /*1024*/

  @media (max-width: 1024px) {
    .main {
      padding: 70px 0;
    }
    .container {
      max-width: 1024px;
      margin: 0 auto;
      padding: 0 20px;
    }
    .main__title {
      font-size: 32px; 
    }
    .main__about-text {
      font-size: 20px;
    }
    .main__about-hyphen {
      width: 40px;
    }
    .main__paragraph {
      font-size: 16px;
    }
    .main__about {
      gap: 22px;
    }
    .main__about {
      margin-bottom: 33px;
    }
    .main__sign-text {
      font-size: 18px;
    }
}

@media (max-width: 320px) {
  .main {
    padding: 30px 0  60px;
  }
  .container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .main__title {
    font-size: 20px;
  }
  .main__about-text {
    font-size: 16px;
  }

  .main__about-hyphen {
    width: 19.7px;
  }

  .main__paragraph {
    max-width: 290px;
  }

  .main__block-circle {
    flex-direction: column;
    gap: 40px;
  }

  .main__group-img-sign {
    row-gap: 20px;
  }

  .main__sign-text {
    font-size: 18px;
  }

}