:root {
  --main-color-text: #FFFFFF;
  --black-color-text: #383A4C;
  --color-button-blue: #15A9CB;
  --color-link: #4A76A8;
  --box-shaddow: rgba(21, 169, 203, 0.30);
  --gray-text: rgba(255, 255, 255, 0.50);
  --color-subtitle: rgba(255, 255, 255, 0.75);
  --contacts-sub-txt: rgba(255, 255, 255, 0.80);
}

/* 
var(--main-color-text);
var(--black-color-text);
var(--color-button-blue);
var(--gray-text);
var(--box-shaddow); */